<style>
    body {
        background-image: url(/Content/i-LOVE-coffee-coffee-25055460-1280-800.jpg);
        background-color: #cccccc;
    }
</style>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
