<style>
    background-image {
        opacity: 0.5;
    }
    body {
        background-image: url(/Content/i-LOVE-coffee-coffee-25055460-1280-800.jpg);
        /*background-color: #cccccc;*/ /*opacity: 0.5;*/
    }
</style>
<h1>
    Welcome to GC Coffee<br />
    Shop! <a href="/Home/Register">Register</a>
</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            Chair
        </div>
        <div class="col-md-4">
            IKEA
        </div>
        <div class="col-md-4">
            $12.50
        </div>
        <div class="col-md-4">
            Coffee beans
        </div>
        <div class="col-md-4">
            pound of coffee
        </div>
        <div class="col-md-4">
            $10.00
        </div>
    </div>
</div>
