<br /><form action="/Home/AddNewCustomer" id=simple method="post">
    first name: <input type="text" name="FirstName" @*required pattern=""*@/><br /><br />
    last name: <input type="text" name="LastName" /><br /><br />
    <input type="submit" value="Register" />
</form>